.BT {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 30px;
   font-weight: 100;
   padding: 20px;
   background-color: #F78181;
   text-decoration: none;
   display: inline-block;
   text-align: center;
}